bpython==0.24
brotli==1.1.0
cffi==1.17.0
ConfigParser==7.0.0
cryptography==43.0.0
cx_Oracle==8.3.0
Cython==3.0.11
defusedxml==0.7.1
dl==0.1.0
docutils==0.21.2
HTMLParser==0.0.2
importlib_metadata==7.0.2
ipaddr==2.2.0
ipdb==0.13.13
ipython==8.12.3
keyring==25.3.0
lockfile==0.12.2
lxml==5.3.0
mypy_extensions==1.0.0
numpy==2.0.1
olefile==0.47
ordereddict==1.1
protobuf==5.27.3
psycopg==3.2.1
psycopg2==2.9.9
psycopg2_binary==2.9.9
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==24.2.1
PyQt5==5.15.11
PyQt6==6.7.1
PySide2==5.15.2.1
PySide6==6.7.2
pytz==2023.3
pywatchman==2.0.0
pywin32==306
PyYAML==6.0.2
tblib==3.0.0
thread==2.0.5
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.17.0
